
$ff-main: 'Roboto', sans-serif;
$fs-main: 1rem;
$fs-large: 1.5rem;
$fs-small: 0.8rem;

$white: #ffff;
$black : #232323;
$color-hover-text : #FC8F1A;
$bg-color : #e8e8e8;
$sideBar_option_bg : #e6e6e6;
$active : #ed3434;
$hover : #a11313;
$hover-btn : #434343;
$border : #666d68;
$links-btn : #434343;

